/*styles for home content only*/
.home-container {
  background-color: transparent;
}

.header-row {
  margin-top: 2%;
  text-align: center;
}

.wav-logo-container {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.wav-logo {
  cursor: pointer;
}