<div class="container home-container">
  <div class="row header-row">
    <div class="col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
      <div class="wav-logo-container">
        <img class="img-fluid wav-logo" src="https://firebasestorage.googleapis.com/v0/b/wav-studios.appspot.com/o/WAV_Studios%400.5x.png?alt=media&token=29a546f4-ba0e-4a20-819f-bb5719d6bb75" alt="WAV Studios Logo" (click)="navigateHome()">
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>