<div class="container home-container">
  <div class="row center-alignment">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="skull-tee-positioning">
        <img class="img-fluid product-image" src="https://firebasestorage.googleapis.com/v0/b/wav-studios.appspot.com/o/Skully_WAV_Front_500px.png?alt=media&token=86153c3c-0b1a-4a32-b5f9-9e1778242e9f"
          (click)="skullFrontToBack()">
        <img class="img-fluid product-image" src="https://firebasestorage.googleapis.com/v0/b/wav-studios.appspot.com/o/Skully_WAV_Back_500px.png?alt=media&token=c3b6c9d6-794b-47d7-9370-faad7ce4c266"
          (click)="skullFrontToBack()">
      </div>
    </div>
  </div>
  <div class="row center-alignment">
    <div class="col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 product-details-box">
      <p>PLACEHOLDER FOR PRODUCT DETAILS AND CHECKOUT</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>