<div class="container home-container">
  <div class="row center-alignment">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="staff-tee-positioning">
        <img *ngIf="crewFront" class="img-fluid product-image" src="https://firebasestorage.googleapis.com/v0/b/wav-studios.appspot.com/o/WAVStudiosCrewSweater%400.5x.png?alt=media&token=831f2bd7-34c7-4243-9cec-28f1f3b91c07">
        <p *ngIf="crewFront" class="product-photo-caption">[ FRONT ]</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 product-details-box">
      <div class="product-details-positioning">
        <h4 class="product-title">WAV Studios Crewneck Sweater</h4>
        <p></p>
        <p class="product-description">Poly/cotton blend, ringspun pigment-dyed crewneck sweater, featuring the signature WAV Studios logo custom sewn and embroidered
          over the left chest. Comfortable and relaxed cuffs with a bottom waistband. Double-needle stitched for durability,
          available only in classic gray.</p>
        <p class="product-description">If purchased, you will be sent an email containing a summary of your order and further information regarding tracking
          your shipment.</p>
        <p class="product-description">Questions? Hit us up at <a class="email-link" href="mailto:love@wav-studios.com?subject=WAV%20Studios%20Crewneck%20Sweater%20Question">love@wav-studios.com</a>.</p>
        <p></p>
        <h4 class="product-title">${{amount * 0.01}}</h4>
        <p class="detail-text-tax">Price includes shipping and fees.</p>
        <p></p>
        <form [formGroup]="orderForm">
          <div class="form-group">
            <label class="product-label">Size:
              <select class="custom-select form-control" formControlName="size">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
                <option value="3XL">3XL</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <label class="product-label">Quantity:
              <input type="number" class="form-control" formControlName="quantity">
            </label>
          </div>
        </form>
        <button type="submit" (click)="purchaseCrewSweater()" class="purchase-button">
          BUY
        </button>
        <div *ngIf="paymentSuccess" class="alert alert-success payment-success-alert" role="alert">
          <p class="product-description">Thank You!</p>
          <p class="product-description">You've successfully purchased a WAV Studios Classic Crewneck Sweater!</p>
          <p class="product-description">Look out for an email with details on your order and shipping.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row center-alignment">
      <div class="col-lg-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 product-details-box">
        <div class="col-lg-6" style="text-align: center;">
          <p>WAV Studios Staff Tee</p>
          <p>$50 (includes shipping and fees)</p>
          <p>100% pre-shrunk, ringspun pigment-dyed cotton.</p>
          <p>Double-needle stitched for durability and dyed with eco-friendly colors.</p>
          <p>Sizes S-3XL</p>
        </div>
        <div class="col-lg-6">
          <div class="product-details-spacing">
            <button type="submit" (click)="purchaseStaffTee()" class="purchase-button">
              BUY
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div> -->
</div>