/*styles for home content only*/
.home-container {
  background-color: white;
}

.home-row {
  margin-top: 10%;
  text-align: center;
}

.wav-logo-container {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* .wav-logo-container:hover {
  transform: scale(1.1);
} */