<!-- <div>
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div> -->

<div class="container home-container">
  <div class="row home-row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="wav-logo-container">
        <img src="../assets/img/WAV_Studios_Logo_smaller.png" alt="WAV Studios">
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>