<!-- <div>
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div> -->

<div class="container home-container">
  <div class="row center-alignment">
    <div class="col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
      <div class="wav-studio-product-list">
        <img *ngIf="staffFront" class="img-fluid product-image" src="../../assets/img/StaffTeeFront_500px.png" (click)="navigateToStaffTee()">
        <img *ngIf="skullFront" class="img-fluid product-image" src="../../assets/img/Skully_WAV_Front_500px.png" (click)="navigateToSkullTee()">
        <img class="img-fluid product-image" src="../../assets/img/WAVStudiosCrewSweater@0.5x.png" (click)="navigateToCrewSweater()">
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

<!-- <video autoplay loop id="video-background" muted plays-inline>
  <source src="https://firebasestorage.googleapis.com/v0/b/wav-studios.appspot.com/o/ocean_waves2.mp4?alt=media&token=9a946435-638c-4ae7-9f21-8704fd71e837"
    type="video/mp4">
</video> -->