/*styles for home content only*/
.home-container {
  background-color: transparent;
}

.home-row {
  margin-top: 10%;
  text-align: center;
}

.wav-logo-container {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* .wav-logo-container:hover {
  transform: scale(1.1);
} */

#video-background {
  /*  making the video fullscreen  */
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
  }